body
{
  background-color: #222930;
}
p
{
  font-family: "Helvetica";
  font-size: x-small;
  color: #E9E9E9;
}
div, span
{
  font-family: "Helvetica";
  font-size: x-small;
  color: #E9E9E9;
}
table
{
  padding: 0px;
  border:0px solid #4EB1BA;
}
td
{
  padding: 0px;
}
thead
{
  border-color: #4EB1BA;
  background-color:#22293;
  color: #4EB1BA;
  text-align: center;
  font-size: 22;
}
button
{
  solid: #E9E9E9;
  font: "Helvetica";
  padding: 3px;
}

input
{
  border-style: solid;
  border-color: #4EB1BA;
  font-size:10px;
  color:#E9E9E9;
  background-color:#222930;
  width: 100%;
}
canvas
{
  border-style: solid;
  border-color: #4EB1BA;
  border-width: 1px;
}

