body
{
  background-color: #090974;
}
p
{
  font-family: "Helvetica";
  font-size: x-small;
  color: white;
}
div, span
{
  font-family: "Helvetica";
  font-size: x-small;
  color: #A67C00;
}
table
{
padding: 0px;
border:0px solid #A67C00;
}
td
{
padding: 0px;
}
thead
{
  background-color:#A67C00;
  color: #A67C00;
  text-align: center;
}
button
{
solid: #A67C00;
font: "Helvetica";
padding: 3px;
}

input
{
border: 10px;
        font-size:10px;
color:#A67C00;
      background-color:#1b1bb3;
width: 100%;
}


